body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #444;
}

#name {
    font-size: 3em;
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 1px #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

#title {
    font-size: 1.5em;
    color: #33485e;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.menu {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.menu li {
    display: inline;
}

.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: #fff;
    font-weight: 400;
    margin: 20px 0px 10px 0px;
    width: 70%;
    min-width: 300px;
}

.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
}

.organization {
    font-weight: 400;
    font-size: 1.25em;
}

.date {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    margin-top: 2px;
}

.description {
    margin: 10px 0px;
}

li {
    font-size: 1em;
}

#degrees {
    margin-top: 5px;
}

#do {
    margin-top: 5px;
}

.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}