/* Masthead styles */
#masthead {
    margin: 0 auto;
    width: 900px;
    padding: 30px 0;
    border-bottom: 1px solid black;
}
#masthead img {
    display: block;
    margin: 0 auto;
    width: 450px;
}
#publication {
    font-family: 'Young Serif', 'Times New Roman', serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin: 0 0 16px;
}
#tagline {
    font-family: 'Newsreader', 'Times New Roman', serif;
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

/* Content div from in class */
#content {
    margin: 40px auto;
    width: 900px;
}

/* Top section with headline, subhead, byline and feature image */
h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    margin: 20px 0;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    margin: 12px 0;
}
#byline {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
}
#feature-image {
    margin: 18px 0 12px;
    width: 100%;
}

/* Body image styles (including the surrounding 'body-image' div) */
.body-image {
    margin: 4px 16px 0 0;
    width: 65%;
    float: left;
}
.body-image img {
    width: 100%;
}
.caption {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: gray;
    margin: 0 0 24px;
}

/* Body text */
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    margin-top: 15px;
}
blockquote {
    text-align: right;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
    float: right;
    width: 60%;
}

/* Bottom footer section with read more links */
#read-more {
    margin-top: 40px;
    padding: 20px 0;
    border-top: 1px solid black;
}
h3 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
a {
    color: gray;
}